doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style 
            include ./email.css
    body 

        h2 Reestablecer Password 
        p ¡Hola! Has solicitado reestablecer tu password, Haz click en el siguiente enlace para reestablecerlo. Este enlace es temporal, en caso de tener problemas vuelva a solicitarlo.

        a(href=`${resetUrl}`) Reestablecer Password.

        p Si no puedes acceder a este enlace, visita #{resetUrl}.
        p Si no solicitaste este e-mail, puedes ignorarlo.